<?xml version="1.0"?>
<!--
/**
 * @author Kim Phung - kimphung@buro210.nl
 * @date 03-07-2023
 * @category BURO210
 * @package Macademy_InventoryFulfillment
 * @copyright Copyright © BURO210 (www.buro210.nl)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="inventory_fulfillment" frontName="inventory-fulfillment">
            <module name="Macademy_InventoryFulfillment"/>
        </route>
    </router>
</config>
